## Base16 Eva Dim
# Author: kjakapat (https://github.com/kjakapat)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2a3b4d
text-color=#9fa2a6
border-color=#1ae1dc

[urgency=low]
background-color=#2a3b4d
text-color=#cfd05d
border-color=#1ae1dc

[urgency=high]
background-color=#2a3b4d
text-color=#c4676c
border-color=#1ae1dc
