/* eva by kjakapat (https://github.com/kjakapat) */

.base00-bg { background-color: #2a3b4d; }
.base01-bg { background-color: #354e67; }
.base02-bg { background-color: #3f5c7b; }
.base03-bg { background-color: #47698c; }
.base04-bg { background-color: #758ba2; }
.base05-bg { background-color: #9fa2a6; }
.base06-bg { background-color: #d6d7d9; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #c4676c; }
.base09-bg { background-color: #ff9966; }
.base0A-bg { background-color: #ffff66; }
.base0B-bg { background-color: #66ff66; }
.base0C-bg { background-color: #4b8f77; }
.base0D-bg { background-color: #15f4ee; }
.base0E-bg { background-color: #9c6cd3; }
.base0F-bg { background-color: #bb64a9; }

.base00 { color: #2a3b4d; }
.base01 { color: #354e67; }
.base02 { color: #3f5c7b; }
.base03 { color: #47698c; }
.base04 { color: #758ba2; }
.base05 { color: #9fa2a6; }
.base06 { color: #d6d7d9; }
.base07 { color: #ffffff; }
.base08 { color: #c4676c; }
.base09 { color: #ff9966; }
.base0A { color: #ffff66; }
.base0B { color: #66ff66; }
.base0C { color: #4b8f77; }
.base0D { color: #15f4ee; }
.base0E { color: #9c6cd3; }
.base0F { color: #bb64a9; }
