/* Eva Darken by kjakapat (https://github.com/kjakapat) */

.base00-bg { background-color: #193145; }
.base01-bg { background-color: #2b4458; }
.base02-bg { background-color: #43596c; }
.base03-bg { background-color: #5e707f; }
.base04-bg { background-color: #7f8992; }
.base05-bg { background-color: #a6a6a6; }
.base06-bg { background-color: #d2d2d2; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #df676a; }
.base09-bg { background-color: #ff9966; }
.base0A-bg { background-color: #ffff66; }
.base0B-bg { background-color: #66ff66; }
.base0C-bg { background-color: #379d80; }
.base0D-bg { background-color: #16d2ce; }
.base0E-bg { background-color: #a277e3; }
.base0F-bg { background-color: #dd5bb9; }

.base00 { color: #193145; }
.base01 { color: #2b4458; }
.base02 { color: #43596c; }
.base03 { color: #5e707f; }
.base04 { color: #7f8992; }
.base05 { color: #a6a6a6; }
.base06 { color: #d2d2d2; }
.base07 { color: #ffffff; }
.base08 { color: #df676a; }
.base09 { color: #ff9966; }
.base0A { color: #ffff66; }
.base0B { color: #66ff66; }
.base0C { color: #379d80; }
.base0D { color: #16d2ce; }
.base0E { color: #a277e3; }
.base0F { color: #dd5bb9; }
