/* Eva Darken by kjakapat (https://github.com/kjakapat) */

$base00: #193145;
$base01: #2b4458;
$base02: #43596c;
$base03: #5e707f;
$base04: #7f8992;
$base05: #a6a6a6;
$base06: #d2d2d2;
$base07: #ffffff;
$base08: #df676a;
$base09: #ff9966;
$base0A: #ffff66;
$base0B: #66ff66;
$base0C: #379d80;
$base0D: #16d2ce;
$base0E: #a277e3;
$base0F: #dd5bb9;
