.base00 { color: #193145; }
.base01 { color: #2b4458; }
.base02 { color: #43596c; }
.base03 { color: #5e707f; }
.base04 { color: #7f8992; }
.base05 { color: #a6a6a6; }
.base06 { color: #d2d2d2; }
.base07 { color: #ffffff; }
.base08 { color: #df676a; }
.base09 { color: #ff9966; }
.base0A { color: #ffff66; }
.base0B { color: #66ff66; }
.base0C { color: #379d80; }
.base0D { color: #16d2ce; }
.base0E { color: #a277e3; }
.base0F { color: #dd5bb9; }

.base00-background { background-color: #193145; }
.base01-background { background-color: #2b4458; }
.base02-background { background-color: #43596c; }
.base03-background { background-color: #5e707f; }
.base04-background { background-color: #7f8992; }
.base05-background { background-color: #a6a6a6; }
.base06-background { background-color: #d2d2d2; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #df676a; }
.base09-background { background-color: #ff9966; }
.base0A-background { background-color: #ffff66; }
.base0B-background { background-color: #66ff66; }
.base0C-background { background-color: #379d80; }
.base0D-background { background-color: #16d2ce; }
.base0E-background { background-color: #a277e3; }
.base0F-background { background-color: #dd5bb9; }
