! Base16 eva
! Author: kjakapat (https://github.com/kjakapat)

! base00: #2a3b4d
! base01: #354e67
! base02: #3f5c7b
! base03: #47698c
! base04: #758ba2
! base05: #9fa2a6
! base06: #d6d7d9
! base07: #ffffff
! base08: #c4676c
! base09: #ff9966
! base0A: #ffff66
! base0B: #66ff66
! base0C: #4b8f77
! base0D: #15f4ee
! base0E: #9c6cd3
! base0F: #bb64a9

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #354e67, #354e67, #2a3b4d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #354e67, #9fa2a6, #354e67, #354e67, #ffffff
rofi.color-active:  #354e67, #15f4ee, #354e67, #354e67, #15f4ee
rofi.color-urgent:  #354e67, #c4676c, #354e67, #354e67, #c4676c

! Set the desired separator style
rofi.separator-style: solid
