! Base16 Eva Dim
! Author: kjakapat (https://github.com/kjakapat)

! base00: #2a3b4d
! base01: #3d566f
! base02: #4b6988
! base03: #55799c
! base04: #7e90a3
! base05: #9fa2a6
! base06: #d6d7d9
! base07: #ffffff
! base08: #c4676c
! base09: #ff9966
! base0A: #cfd05d
! base0B: #5de561
! base0C: #4b8f77
! base0D: #1ae1dc
! base0E: #9c6cd3
! base0F: #bb64a9

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3d566f, #3d566f, #2a3b4d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3d566f, #9fa2a6, #3d566f, #3d566f, #ffffff
rofi.color-active:  #3d566f, #1ae1dc, #3d566f, #3d566f, #1ae1dc
rofi.color-urgent:  #3d566f, #c4676c, #3d566f, #3d566f, #c4676c

! Set the desired separator style
rofi.separator-style: solid
